requests
bs4
tqdm
pandas
scikit-learn
numpy
matplotlib
seaborn
tensorflow
tensorflow-metal
keras
python-dotenv
opencv-python
supervision
inference
timm
PIL
torch
wildlife-tools
pytorch-metric-learning