requests
bs4
tqdm
pandas
scikit-learn
numpy
matplotlib
seaborn
tensorflow
tensorflow-metal
keras
python-dotenv
opencv-python
supervision
inference[transformers,sam,clip,gaze,grounding-dino,yolo-world]
timm
torch
torchvision
pytorch-metric-learning
roboflow
supervision
samv2
detectron2
streamlit
streamlit-drawable-canvas